body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDEADE	;
}

.outerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row1 {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}
hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}
.col1 {
    width: 45%;
}

label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    padding: 8px 0;
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

.card-form {
    margin-top: 20px;
}

.exp-cvv {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Styles for buttons on focus, etc. */
